<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button *ngIf="toolbarService.isEditor()" routerLink="/notas">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span *ngIf="!toolbarService.isEditor()">{{titulo}}</span>
        <span class="align-center"></span>
        <span class="spacer"></span>
        <button mat-icon-button *ngIf="!loginService.isUserLoggedIn()" routerLink="/registro">
            <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="loginService.isUserLoggedIn()" >
                <mat-icon>more_vert</mat-icon>
            </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/logout">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>